@font-face {
    font-family: BaksoSapi;
    src: url(./fonts/BaksoSapi.otf);
}
@font-face {
    font-family: kaleko;
    src: url(./fonts/Kaleko105Heavy.ttf);
}

@media (min-width: 550px) {
    #navbar-custom{
        width: 40rem;
        margin-left: 30%;
        margin-top: 2rem;
        border-radius: 25rem;
        padding-top: 0px;
        padding-bottom: 0px;
    }

}
@media (max-width:550px) {
    #navbar-custom{
        visibility: hidden;
    }
    .titles{
        font-family: BaksoSapi;
        font-size: 2rem;
    }
    #destaques{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 298px;
    
    }
    #fundo-logo-destaques{
        width: 12rem;
        background-color: white;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        height: 12rem;
        margin-top: 3rem;
    }
    #logo-destaques{
        width: 100%;
        margin-left: -0.5rem;
        
    }
    #img-destaques{
        width: 100%;
        position: absolute;
        z-index: -1;
        }
    #quem-somos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #titulo-quem-somos{
        margin-top: 2rem;
    }
    .fundos-web{
        width: 100%;
        margin-top: -0.2rem;
    }
    #quem-somos-first{
        width: 100%;
        display: flex;
        flex-direction: column;
       align-items: center;
       margin-top: 10rem;
       text-align: center;
       font-family: 'Montserrat';
       
       
    }
    #quem-somos-first-h1p{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: justify;
    }
    #img-esp-quems-somos1{
        width: 60%;
        margin-top: -9rem;
    }
    .img-quem-somos{
        width: 50%;
        border-radius: 100%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .quem-somos-seconds{
        width: 100%;
        display: flex;
        flex-direction: column;
       align-items: center;
       text-align: justify;
       padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    #como-ajudar{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat';
        color: white;
        background-color: #1B9D85;
        margin-top: -0.2rem;
        padding-top: 2rem;
    }
    #title-como-ajudar{
        display: flex;
        justify-content: center;
        color: white;
        background-color: #1B9D85;
        margin-top: -0.5rem;
    }
    .h2-como-ajudar{
        text-align: center;
    }
    #div-qrcode{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
    #div-fundo-qrcode{
        background-color: white;
        width: 45vw;
        height: 48vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1.5rem;
        border-radius: 15px;
    }
    #p-qrcode{
        color: black;
    }
    #img-qrcode{
        width: 40vw;
    }
    .divs-como-ajudar{
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #ul-como-ajudar{
        text-align: left;
    }
    #ações{
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #h5-carossel-cell{
        font-family: BaksoSapi !important;
        font-size: 3rem !important;
        color: #B50D0D;
        background-color: white;
        border-radius: 15px;
        }
    #p-carrosel-cell{
        font-family: 'Montserrat' !important;
        font-size: 1rem;
        color: #B50D0D;
        background-color: white;
        border-radius: 15px;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: 500;
        margin-top: 1rem;
        }
    #footer{
        margin-top: 5rem;
        width: 100%;
        height: 5rem;
        background-color:#1B9D85 ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #logo-footer{
        width: 13rem;
    }
    #contato{
        width: 30%;
        display: flex;
        justify-content: space-around;
    }
    .redes-sociais{
        font-size: 2.2rem !important;
     color: rgb(27, 27, 27);
    }
}
@media (min-width: 550px) {
    #nav-bar-ajust{
        width: 100%;
        display: flex !important; 
        justify-content: center !important;
    }
    #navbar-custom{
        width: 38rem;
        margin-top: 2rem;
        border-radius: 25rem;
        padding-top: 0px;
        padding-bottom: 0px;
    
    }

    .titles{
        font-family: BaksoSapi;
        font-size: 4rem;
    }

#destaques{
    margin-top: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
    margin-bottom: 8%;
}
#img-destaques{
    width: 100%;
    position: absolute;
        z-index: -1;
}
#logo-destaques{
    width: 100%;
    margin-left: -0.5rem;
}

#fundo-logo-destaques{
    width: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    height: fit-content;
    margin-top: 10%;
}
#fundo-1{
    width: 100%;
}

.logo-header{
    width: 6rem; 
    margin-right: 1rem;
}
.nav-link{
    font-family: BaksoSapi;
    font-size: 1.5rem !important;
    color: #6B739F !important;
}
#fundo-1{
    height: 0px;
    visibility: hidden;
}
#fundo-2{
    visibility: hidden;
    height: 0px;
}
.fundos-web{
    width: 100%;
}

#quem-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-bottom: 25%;
    width: 100%;
}
#titulo-quem-somos{
    padding-top: 8rem;
    height: 5%;
    width: 50vw;
    margin-left: 15vw;
    
}
.img-quem-somos{
    width: 20%;
    height: fit-content;
    border-radius: 100%;
}
#quem-somos-first{
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-top: 5rem;
   text-align: center;
   font-family: 'Montserrat';
   font-size: 2rem;
}
#quem-somos-first-h1p{
    display: flex;
    flex-direction: row;
   align-items: center;
   text-align: justify;
   padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.quem-somos-seconds{
    width: 100%;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-around;
   text-align: justify;
   padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 5rem;
}
.p-quem-somos-seconds{
    padding-right: 3rem;
    padding-left: 5rem;
}

#como-ajudar{
    background-color:#1B9D85;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 500;
    color: white;
    height: 100%;
}
#title-como-ajudar{
    background-color: #1B9D85;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    color: white;
    height: 10rem;
}
.h2-como-ajudar{
    text-align: center;
    font-size: 3rem;
}
#div-qrcode{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
#div-fundo-qrcode{
    background-color: white;
    width: 22.5vw;
    height: 22.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding-top: 1.5rem;
}
#p-qrcode{
    color: black;
}
#img-qrcode{
    width: 20vw;
}
.divs-como-ajudar{
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}
.divs-como-ajudar{
    margin-top: 5rem;
    width: 65%;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}
#ul-como-ajudar{
    text-align: left;
}
#ações{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title-ações{
    padding-top: 8rem;
    height: 10rem;
}
#div-ações{
    margin-top: 5rem;
    display: flex;
    justify-content: center !important;
}
.card{
    width: 35% !important;
}
#footer{
    margin-top: 5rem;
    width: 100%;
    height: 9rem;
    background-color:#1B9D85 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
#logo-footer{
    width: 25rem;
}
#contato{
    margin-right: 8rem;
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.redes-sociais{
    font-size: 3vw !important;
 color: rgb(27, 27, 27);
}
.carousel {
    width: 50% !important;
}
#h5-carossel{
font-family: BaksoSapi !important;
font-size: 3vw !important;
color: #B50D0D;
background-color: white;
border-radius: 15px;
}
#p-carrosel{
font-family: 'Montserrat' !important;
font-size: 1vw;
font-weight: 500;
color: #B50D0D;
background-color: white;
border-radius: 15px;
text-align: center;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
#h5-carossel-cell{
   visibility: hidden;
    }
#p-carrosel-cell{
    visibility: hidden;
    }
}